button {
  background-color: #555555;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 4px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: black; 
}

.cart {
  color: white;
}

.icon {
  margin: 1px 0 0 0;
}

